@model ClassLibrary1.Class1
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3>
        The Data is
    </h3>
</div>
<div>
    <table border="1">
        <thead>
            <tr>
                <td>     The id is</td>
                <td>   Username is</td>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>   @Model.id</td>
                <td>      @Model.username</td>
            </tr>

        </tbody>
    </table>
</div>
