@model ClassLibrary1.Class1
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3>
        The Data is
    </h3>
</div>
<div>
    <table border="1">
        <thead>
            <tr>
                <td>   ID</td>
                <td>   Username</td>
                <td>
                    Password
                </td>
                <td>int data</td>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>   @Model.Id</td>
                <td>      @Model.Username</td>
              <td>@Model.Password</td>
                <td>@Model.da</td>
           
            </tr>

        </tbody>
    </table>
</div>
